<div class="content-hero">
    <div class="hero">
        <img [src]="windowWidth < 768 ? 'assets/images/hero/banner-mobile.png' : 'assets/images/hero/banner-desktop.png'" alt="Hero" />
        <div class="content">
            <h2>¡Conoce la fibra óptica de Movistar!</h2>
            <h4>Si ya eres cliente Movistar, <span>migra SIN COSTO</span> manteniendo tu plan actual.</h4>
            <img src="assets/images/hero/promo.svg" alt="Promo" class="promo" />
        </div>
    </div>
    <div class="coverage-content">
        <app-coverage></app-coverage>
    </div>
 </div>
  